services:
  # Serviço da nossa API NestJS
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: api-cybersec-project
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - ./keys:/usr/src/app/keys
    command: npm run start:dev
    environment:
      - DB_HOST=db
      - DB_TYPE=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=admin
      - DB_DATABASE=cybersec_project_db
      - JWT_PRIVATE_KEY_PATH=keys/private.pem
      - JWT_PUBLIC_KEY_PATH=keys/public.pem
      - WAF_MODE=test
      - CORS_ORIGIN=http://localhost:5173
    depends_on:
      - db

  # Serviço do Frontend React
  frontend:
    image: node:18-alpine
    container_name: frontend-cybersec-project
    working_dir: /app
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
    depends_on:
      - api

  # Serviço do Banco de Dados PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: db-cybersec-project
    # Variáveis de ambiente para configurar o banco de dados
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=cybersec_project_db
    # Mapeia a porta 5432 do contêiner para a 5432 da sua máquina
    ports:
      - '5432:5432'
    # Cria um volume para persistir os dados do banco
    volumes:
      - pgdata:/var/lib/postgresql/data

# Define o volume nomeado para a persistência dos dados
volumes:
  pgdata:
